// ---------- 菜单栏样式 ----------
$sidebar-width: 23rem;
$sidebar-width-hidden: 5rem;
$sidebar-transition-duration: 0.3s;
$sidebar-color: var(--menu-background);

// ---------- 菜单样式 ----------
$menu-item-height: 4rem;
$menu-item-margin-left: -0.48rem;
$menu-item-padding-right: 0rem; // 无法确定此参数的作用
$menu-background-color: var(--menu-background);
$menu-hover-color: var(--menu-hover-color); // 没用上
$menu-text-color: var(--menu-text-color);
$menu-active-text-color: var(--menu-active-text-color);
$menu-active-sub-menu-text-color: var(--menu-active-sub-menu-text-color);

// ---------- 导航栏样式 ----------
$navbar-height: 4.6rem;
$navbar-color: #ffffff;

// ---------- 标签栏样式 ----------
$tagbar-height: 3rem;
$tagbar-color: #ffffff;
$tagbar-active-tag-color: var(--tagbar-active-tag-color);

// 和js共享参数，注意文件名后缀需要是.module.scss
:export {
  sidebarWidth: $sidebar-width;
  sidebarWidthHidden: $sidebar-width-hidden;
  sidebarTransitionDuration: $sidebar-transition-duration;
  sidebarColor: $sidebar-color;

  menuItemHeight: $menu-item-height;
  menuItemMarginLeft: $menu-item-margin-left;
  menuItemPaddingRight: $menu-item-padding-right;
  menuBackgroundColor: $menu-background-color;
  menuHoverColor: $menu-hover-color;
  menuTextColor: $menu-text-color;
  menuActiveTextColor: $menu-active-text-color;
  menuActiveSubMenuTextColor: $menu-active-sub-menu-text-color;

  navbarHeight: $navbar-height;
  navbarColor: $navbar-color;

  tagbarHeight: $tagbar-height;
  tagbarColor: $tagbar-color;
  tagbarActiveTagColor: $tagbar-active-tag-color;
}
